<%- include('partials/header') -%>
<h1 class="text-black-800 text-4xl sm:text-5xl md:text-5xl font-bold mb-8 md:mb-12 text-center">Todos</h1>
    

        <div class="overflow-x-auto">
            <table class="min-w-full divide-y-2 divide-gray-200 text-sm">
              <thead>
                <tr>
                  <th
                    class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
                  >
                    Note
                  </th>
                  <th
                    class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
                  >
                    Date Posted
                  </th>

                </tr>
              </thead>
          
              <tbody class="divide-y divide-gray-200">
                

            <% todos.forEach( el => { %>
                <tr class="odd:bg-gray-50" data-id="<%=el._id%>">
                  <td class="whitespace-wrap px-4 py-2 font-medium text-gray-900" >
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='del'> Delete </span>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">24/05/1995</td>
                </tr>
            <% }) %>  
          
              </tbody>
            </table>
          </div>
          


<ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <textarea  id="body" type="text" placeholder="Enter Todo Item" name='todoItem'></textarea>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
    integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>

    <script>
        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        })
    </script> -->
<%- include('partials/footer') -%>